.flex-container {
  display: flex;
}

.feed-list {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.feed-item {
  width: 30%;
  max-height: 50%;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #222222;
  border-right: 1px solid #222222;
  background-color: #AAAAAA
}

.feed-item p {
  margin: 0;
  padding-left: 2em;
  padding-right: 1em;
  font-size: 1.5em;
}

.feed-item:hover {
  background-color: #f1f1f1;
}

.feed-item-label {
  font-size: 11px;
  align-self: center;
  padding-top: 6px;
}

.feed-item:nth-child(even) {
  background-color: lightgray;
}

.feed-item:nth-child(even):hover {
  background-color: #f1f1f1;
}

.delete-feed-button {
  background-color: #d0451b;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  height: 30px;
  align-self: center;
}
.delete-feed-button:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.delete-feed-button:active {
  position: relative;
  top: 1px;
}
